
<div class="row">
    <div class="col-md-4">
        <label>First Name</label>
        <input class="form-control" type="text" placeholder="First Name">
    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-4">
        <label>Last Name</label>
        <input class="form-control" type="text" placeholder="Last Name">
    </div>
    <div class="col-md-4">
        <label>E-mail</label>
        <input class="form-control" type="text" placeholder="E-mail">
    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-4">
        <label>Mobile No</label>
        <input class="form-control" type="text" placeholder="Mobile No">
    </div>

    <div class="col-md-4">
        <label>Password</label>
        <input class="form-control" type="password" placeholder="Password">
    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-4">
        <label>Confirm Password</label>
        <input class="form-control" type="password" placeholder="Confirm Password">
    </div>

</div>
<div class="register-btn">
    <button>Register</button>
</div>

